.side-bar
  .side-bar__user-name
    %h3.side-bar__user-name__logo
      = current_user.name
    %ul.side-bar__user-name__custam
      %li.list
      = link_to "#", class: "contents_btn" do
        = icon("fa", "fas fa-cog")
      %li.list
      = link_to new_group_path(current_user), class: "contents_btn" do
        = icon("fa", "fas fa-edit")
  .side-bar__second
    - current_user.groups.each do |second|
      .second
        = link_to '#' do
          .second__name
            = second.name
          .side-bar__group-second
            まだメッセージがありません

